body {
 background-color: #ececec;
}
p{
    margin: 0;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 0;
    position: fixed;
}
.navbar{
    background-color: white;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    box-sizing: content-box;
    align-items: center;
}
.navbar__logo img  {
    height: 2rem;
}

.gradient{
    background-image: linear-gradient(to bottom, #ffffff, #ffffff00);
    height: 5rem;
}

main{
    z-index: 0;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divBox{
    height: 7rem;
    width: 100%;
}
.article_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.article{
    background-color: #ffffff;
    width: 92%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    box-sizing: border-box;
    transition: border-radius 0.3s ease;
}
.article.open{
    padding: 1.5rem 1rem 2rem;
    border-radius: 3px;
}
.article.closed{
    padding: 1rem 1rem 0rem;
    border-radius: 13px;
}
.article__data,
.article__titleANDsummary,
.article__content,
.article__link{
    width: 100%;
}
.article__data{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}
.dataContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    transition: margin-bottom 0.3s ease;
}
.article.open .dataContainer{
    margin-bottom: 0.8rem;
}
.article.closed .dataContainer{
    margin-bottom: 0rem;
}
.article.open .dataContainer > .dateANDauthor{
    transition: font-size 0.3s ease;
    transition: margin 0.5s ease;
}
.article.open .dataContainer > .dateANDauthor{
    font-size: inherit;
    margin-left: calc(20px + 0.5rem);
}
.article.closed .dataContainer > .dateANDauthor{
    font-size: 0rem;
    margin-left: 0;
}
.article.open .dataContainer > .dateANDauthor > p{
    margin-bottom: 0.5rem;
}
.article.closed .dataContainer > .dateANDauthor > p{
    margin-bottom: 0;
}
.dataContainer .origin{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.dataContainer .origin img{
    height: 20px;
    width: 20px;
    margin-right: 0.5rem;
}
.article.open > .dataContainer .origin{
    margin-bottom: 0.5rem;
}
.article.closed > .dataContainer .origin{
    margin-bottom: 0;
}
.article__data .icon{
    transition: all 0.3s ease;
}
.article.open > .article__data .icon{
    height: 1.5rem;
    width: 1.5rem;
}
.article.closed > .article__data .icon{
    height: 0;
    width: 0;
}


.article__titleANDsummary{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}
.article__title{
    /* width: 90%; */
    margin-top: 0;
    letter-spacing: 0.5px;
    font-kerning: none;
    transition: margin-bottom 0.3s ease;
    font-size: 1.6rem;
}
.article.open .article__title{
    margin-bottom: 0.5rem;
}
.article.closed .article__title{
    margin-bottom: 0rem;
}
.article__summary{
    color:#7a7a7a;
    margin: 0;
    font-weight: bold;
    width: 90%;
    line-height: 1.3;
    transition: opacity 0.3s ease;
    letter-spacing: 0.5px;
}
.article.open .article__summary{
    font-size: 1.3rem;
}
.article.closed .article__summary{
    font-size: 0rem;
}


.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-kerning: none;
    letter-spacing: 0.5px;
    line-height: 1.55;
    width: 95%;
    align-self: flex-start;
    transition: opacity 1s ease;
}
.article.open .content{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.article.closed .content{
    font-size: 0rem;
    margin-bottom: 0rem;
}


.article__link{
    color: mediumturquoise;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-style: italic;
    text-decoration-color: mediumturquoise;
    transition: font-size 0.3s ease;
}
.article.open .article__link{
    height: auto;
}

.article.open .article__link> a{
    font-size: 0.8rem;
}
.article.closed .article__link{
    height: 0px;
}

.article.closed .article__link> a{
    font-size: 0rem;
}